config INPUT_EGIS_FPS_MMI
	tristate "MMI egistec fingerprint sensor"
	default n
	help
	  Say Y here if you wish to include support for MMI egistec fingerprint sensor.
	  If unsure, say N.

config INPUT_EGIS_ET721_FOD
	bool "FOD Support for MMI egistec fingerprint sensor"
	default n
	depends on INPUT_EGIS_FPS_MMI
	help
	  Say Y here if you wish to include FOD support for MMI egistec fingerprint sensor.
	  If unsure, say N.
